<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestApp.Properties.Settings>
            <setting name="WorldWeatherKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="PostCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutdoorTempLim" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OutdoorMinTempLim" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="HolidayToDate" serializeAs="String">
                <value>2019-07-05</value>
            </setting>
            <setting name="Holiday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaintainRadiatorState" serializeAs="String">
                <value>False</value>
            </setting>
        </TestApp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
